@import "~bootstrap-scss/bootstrap.scss";

.list {
	@extend .row, .p-0;
	list-style-type: none;
}

.list li {
	@extend .col-xl-3;
	@extend .col-lg-4;
	@extend .col-md-6;
	@extend .col-sm-8;
	@extend .col-8;
	@extend .pb-5;
	@extend .mx-auto, .mx-md-0;
}

.item {
	@extend .card;
}

.item img {
	@extend .card-img-top;
}

.description {
	@extend .card-body;
}

.description h5 {
	@extend .card-title;
}

.description p {
	@extend .card-text;
}

.buy {
	@extend .btn, .btn-primary;
}