@import "~bootstrap-scss/bootstrap.scss";

nav {
	@extend .navbar;
	@extend .navbar-expand-lg;
	@extend .navbar-dark;
	@extend .bg-dark;
	min-height: 80px;
}

.app {
	@extend .pt-4;
	@extend .container, .p-0;
}

.search {
	@extend .mx-auto;
	@extend .col-6;
}